doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meet #{name}
    link(href='https://fonts.googleapis.com/css?family=PT+Mono|Rammetto+One|Roboto', rel='stylesheet')
    link(href='fa-solid.min.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
  body
  h1.cat-name= name
  h2.cat-headline= headline
  img.cat-image(src= "/images/" + image, alt= "A picture of " + name)
  div.cat-bio= bio
  ul.cat-likes
    each like in likes
      li.cat-like= like
