  include includes/head.pug
  body
    .container-fluid.background
      .header
        img.cat-image(src= "/images/" + image, alt= "A picture of " + name)
        .text
          h1.cat-name.text-rammetto= name
          h2.cat-headline.text-roboto= headline
      .container.cat-container
        h4.bio-title.text-rammetto BIO
        .cat-bio.text-roboto= bio
        h4.breed-title.text-rammetto BREED
        .cat-breed.text-roboto= breed
        h4.like-title.text-rammetto LIKES
        ul.cat-likes.text-roboto
          each like in likes
            li.cat-like= like
    include includes/footer.pug
